body {
    background: #cccc;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.post_ftpessoal {

    margin: 0px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid #505050;
}

#title, .subtitle, .post_title {

    font-family: Arial, Helvetica, sans-serif;

}
.title{
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration:underline;
    color: #505050;
    font-style:oblique;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
    
}

.post1 {
    background: #FFF;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 10px;
    margin: 15px;
}

.post_content {
    margin: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {

    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 15px;
}

.contacts_list li a {
    text-decoration: none;
        
}

